.container{
	width: 90%;
	display: flex;
	justify-content: center;
}

.container1{
	width: 60%;
	margin: 0 auto;
	/* display: flex;
	justify-content: center; */
}

.btn{
	height: 50px;
	width: 200px;
	font-size: 1.2rem;
}